

/*
Solid block on top for navigation
Solid block on bottom for extra/support navigation
Link/Header of website name on top left beside navigation
Lots of white on page-->keep it clean andsimple


slideshow of inspiring messages....and a learn more button
video?



.==class
#==id
*/




body
{
	/*padding: 0;*/
	/*background: linear-gradient(to bottom, #FFFFFF 0%, #00A3EF 600%) no-repeat;*/
	font-family: arial;
	/*min-height:1000px;*/

}


/*formatting for the whole page*/
#page
{
	width:1200px; /* width of whole page*/
	margin: 0 auto;
	background-color:none;
	padding:20px;
}


/*NOT SURE*/
.center {
  display: block;
  margin: 0 auto;
}

/*Used for the h1 <Website name>*/
.titleHeader {
  padding: 0;
  margin-bottom: 20px;
  display: block;
  text-align: center;
  float:left
}


/*default for h1*/
h1
{
 margin: 0;
 font-size: 40pt;
 color: #820;
}


/*whole menu*/
#menu
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 42px;
	width: 100%;
	display: block;
}


/*single list item*/
#menu li
{
	float: left;
}


/*item with a link */
#menu a
{
	display: block;
	text-align:center;
	width:100px; /*adjust lgenth of menu box*/
	padding: 10px;
	color: #000;
	font-size: 8px;
	text-decoration: none;
	border: 1px solid #bbb;
	background-color: #ccc;
}

/*hovering item with a link*/
#menu a:hover
{
	background-color: #fff;
}

/*links*/
a
{
	text-decoration: none;
	color: #333;
}

/*hovering over the link*/
a:hover
{
	color: #888;
}

#footer
{
	padding: 2px;
	border-style:solid;
	border-color:black;
	background-color:grey;
	padding-left:10px;
	display:block;

}

div tr td 
{
	width: 150px;
}
.one
{
	border-style:solid;
	border-color:black;
}
.two
{
	border-style:solid;
	border-color:black;
}

.error
{
  color:red;
}

.infoMessage, .successMessage, .warningMessage, .errorMessage{
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}

.infoMessage {
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url('../images/info.png');
}

.successMessage {
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image:url('../images/success.png');
}

.warningMessage {
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('../images/warning.png');
}

.errorMessage {
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('../images/error.png');
}

#profile_pic
{
	width:100px;
	height:100px;
}

#land_img
{
	height:650px;
	width:1200px;
}
