
/*


NICE BLUE ->00A3EF

NICE GREEN -> 6DF57F 
BORDER GREEN -> 2AE442
Solid block on top for navigation
Solid block on bottom for extra/support navigation
Link/Header of website name on top left beside navigation
Lots of white on page-->keep it clean andsimple

normal text colour -> black


slideshow of inspiring messages....and a learn more button
video?

login topright

.==class
#==id

http://colorschemedesigner.com/#3o11Tw0w0w0w0

*/


* 
{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


body
{
	/*look in keyword.css*/
}


/*underneath body...wierd???*/
#page
{
	margin-left:60px;
	margin-right:60px;
	display:block;
	/*box-shadow: 0px 0px 4px 0px #ffffff;*/
	
}

/*top section of page*/
#header
{
	//background-color:#00A3EF;
	/*background-image: radial-gradient(ellipse farthest-side at right top, #FFFFFF 0%, #00A3EF 100%);*/
	padding-top:20px;
	margin:0px;
	height:47px;
	display:block;
}

/*title header section (for website name)*/
/*manual places the text, does not use the class inside to put in frame */
/* is a link currently*/
#titleHeader
{
	padding: 0;
	display: block;
	text-align: center;
	float:left;
	margin: 0;
	/*margin-bottom: 20px;*/
	text-decoration: none;
	color:#39AECF;
	font-size: 30pt;
	font-weight:bold;
}


/*login/register section in header */
#login_register
{
	list-style-type: none;
	float:right;
}

/*list item in login/register section */
#login_register li
{
	float:right;
	padding:0px 5px 0px 0px;
}

/*link in list item in login/register section */
#login_register  a
{
	display: inline;
	text-align:right;
	width:100px; /*adjust lgenth of menu box*/
	font-size: 20px;
	font-weight:bold;
	color:#39AECF;
	text-decoration: none;
}

#login_register  a:hover
{
	border-bottom:1px solid;
}

/*specific to the register button*/
li #accent_item_in_login_register
{
	//background-color:white;
	//color:#00A3EF;
	margin:0px 10px;
	//font-style:italic;
}



/*navigation menu section*/
#menu
{
	list-style-type: none;
	margin:0;
	margin-top:-11px;
	float:left;
	/*background-color:#39AECF;*/
	width:1140px;
	/*text-align:center;*/
	border-top: 2px solid green;
	border-bottom: 2px solid green;
	border-color:auto;
}
/*list item in navigation menu section*/
#menu li
{
	display:inline;
}

/*link in list item in navigation menu section*/
#menu li a
{
	
	display: inline;
	text-align:center;

	margin: 16px 10px 15px 10px;
	color: #39AECF;
	font-weight:bold;
	font-size: 15px;
	text-decoration: none;
	/*border: 1px solid #bbb;*/ /*must adjust padding... between 15px and 16px for bottom*/
}

/*the current active link in list item in navigation menu*/
#menu li a.active
{
	/*background-color:#FFA040;*/
	/*color:#FFA040;*/
	//border-bottom:1px solid;
}



/*content of the function "print_body"*/
#main_stuff
{
	clear:left;
	float:left;
}

/*footer section of page*/
#footer
{
	float:left;
	display:block;
	//background-color:#6EC6DF;
	width:100%;
}


/*landing page, image size*/
#land_img
{
	height:650px;
	width:1140px;
}

.user_sort_button a
{
	text-decoration: none;
	color:black;
}




.tags
{
	background-color:#C9D0D0;
	display:inline;
	margin: 0 5px 0 5px;
	padding: 1px 2px 1px 2px;
}

.header_body_footer_spacer
{
	display:block;
	margin:10px 0;
}


#user_list li
{
	margin-bottom:5px;
}

#user_info
{
	display:block;
	float:left;
	clear:left;
}

#view_my_profile_button a
{
	color:black;
}

#edit_chat_button_area
{

}
#edit_chat_button
{

}
