
/*applies border-box to everthing*/
* 
{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*formatting for the whole page....*/
body
{
	/*look in keyword.css*/
}

/*this is where stuff actually goes on the page*/
#page
{
	margin: 0px 60px 0 60px;
	background-color:white;
	/*box-shadow: 0px 0px 4px 0px #ffffff;*/
	overflow: auto;
	width: 100% - 120px;
}

/*top section of page*/
#header
{
	padding-top:20px;
	background-color:white;
	overflow: auto;
	width: 100%;

}

/*title header section (for website name)*/
/*manual places the text, does not use the class inside to put in frame */
/* is a link currently*/
	#header #title_header
	{
		/*margin-left:15px;*/
		float:left;
		text-decoration: none;
		color:#39AECF;
		font-size: 30pt;
		font-weight:bold;
	}

/**************************LOGIN_REGISTER START****************************************/
/*login/register section in header */
	#header #login_register
	{
		float:right;
		list-style-type: none;
	}

/*list item in login/register section */
		#header #login_register li
		{
			float:right;
			margin:0px 0px 0px 10px;
		}

/*link in list item in login/register section */
		#header #login_register  a
		{
			font-size: 20px;
			font-weight:bold;
			color:#39AECF;
			text-decoration: none;
			
		}

		#header #login_register  a:hover
		{
			border-bottom:2px solid; /*try 2px*/
		}
/***********************LOGIN REGISTER END*******************************************/

/*specific to the register button*/
li #accent_item_in_login_register
{
	/*background-color:white;*/
	/*color:#00A3EF;*/
	/*margin:0px 10px;*/
	//*font-style:italic;*/
}

/*navigation menu section*/
#menu
{
	list-style-type: none;
	margin:0px 0px 0px 0px;
	padding:10px 0 10px 0;
	
	border-top: 2px solid green;
	border-bottom: 2px solid green;
	
	
}

	/*list item in navigation menu section*/
	#menu li
	{
		display:inline;
		margin:0 5px 0 5px;
		padding:0;
	}

		/*link in list item in navigation menu section*/
		#menu li a
		{
			font-weight:bold;
			font-size: 15px;
			text-decoration: none;
			margin:0;
			padding:0;
			color: #39AECF;
		}

			/*hovering link in list item in navigation menu section*/
			#menu li a:hover
			{
				/*background-color: white;*/
				/*color:#FFA040;*/
				border-bottom:1px solid;
				/*text-decoration:underline;*/
			}

#main_stuff
{
	margin: 10px 0 10px 0;
}

#footer
{
	overflow: auto;
	width: 100%
}

.user_sort_button a
{
	text-decoration: none;
	color:black;
}

.tags
{
	background-color:#C9D0D0;
	display:inline;
	margin: 0 5px 0 5px;
	padding: 1px 2px 1px 2px;
}

#user_list li
{
	margin-bottom:5px;
}

